<div class="page-header">
  <h3>Dish List #<%= @dish_list.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish names</dt>
      <dd><%= @dish_list.dish_names %></dd>

      <dt>Dish desc</dt>
      <dd><%= @dish_list.dish_desc %></dd>

      <dt>Cuisine</dt>
      <dd><%= @dish_list.cuisine %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dish_lists" class="btn btn-primary">
        Back
      </a>
      <a href="/dish_lists/<%= @dish_list.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish_list/<%= @dish_list.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Dish list has many bookmarked_venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarked Venues
      </li>

      <% @dish_list.bookmarked_venues.each do |bookmarked_venue| %>
        <li class="list-group-item">
          <a href="/bookmarked_venues/<%= bookmarked_venue.id %>">
            <%= bookmarked_venue.dish_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarked_venues/<%= bookmarked_venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarked_venues/<%= bookmarked_venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmarked_venue/<%= bookmarked_venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bookmarked_venue" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dish_id -->
      <div class="form-group">
        <label for="dish_id" class="control-label">
          Dish
        </label>

        <%= select_tag(:dish_id, options_from_collection_for_select(DishList.all, :id, :dish_names), :class => "form-control") %>
      </div>

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(VenueDetail.all, :id, :venue_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Bookmarked Venue
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
