<div class="page-header">
  <h3>Venue Detail #<%= @venue_detail.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Venue name</dt>
      <dd><%= @venue_detail.venue_name %></dd>

      <dt>Venue address</dt>
      <dd><%= @venue_detail.venue_address %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venue_details" class="btn btn-primary">
        Back
      </a>
      <a href="/venue_details/<%= @venue_detail.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venue_detail/<%= @venue_detail.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Venue detail has many bookmarked_venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarked Venues
      </li>

      <% @venue_detail.bookmarked_venues.each do |bookmarked_venue| %>
        <li class="list-group-item">
          <a href="/bookmarked_venues/<%= bookmarked_venue.id %>">
            <%= bookmarked_venue.dish_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarked_venues/<%= bookmarked_venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarked_venues/<%= bookmarked_venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmarked_venue/<%= bookmarked_venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
