<div class="page-header">
  <h3>Venue Detail #<%= @venue_detail.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Venue name</dt>
      <dd><%= @venue_detail.venue_name %></dd>

      <dt>Venue address</dt>
      <dd><%= @venue_detail.venue_address %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venue_details" class="btn btn-primary">
        Back
      </a>
      <a href="/venue_details/<%= @venue_detail.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venue_detail/<%= @venue_detail.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
