<div class="page-header">
  <h3>Bookmarked Venue #<%= @bookmarked_venue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish</dt>
      <dd>
        <% if @bookmarked_venue.dish.present? %>
          <a href="/dish_lists/<%= @bookmarked_venue.dish_id %>">
            <%= @bookmarked_venue.dish.dish_names %>
          </a>
        <% end %>
      </dd>

      <dt>Venue</dt>
      <dd>
        <% if @bookmarked_venue.venue.present? %>
          <a href="/venue_details/<%= @bookmarked_venue.venue_id %>">
            <%= @bookmarked_venue.venue.venue_name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bookmarked_venues" class="btn btn-primary">
        Back
      </a>
      <a href="/bookmarked_venues/<%= @bookmarked_venue.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bookmarked_venue/<%= @bookmarked_venue.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
